$max-width:1200px;
$primary-color:#EF6D6D;
$light-color:#f4f4f4;
$light-yellow:#D9CB50;
$dark-brown:#472D2D;
$medium-color:#ccc;
$dark-color:#333;
$body-color:#FAEBD7;
$heavy-color:rgb(230, 184, 0);
$bg-image:url('../image/pexels-pixabay-161758.jpg');
$bg-image2:url('../image/projects2.jpg');
$bg-imagea:url('../image/How-to-keeping-customers-happy.jpg');
$bg-imageb:url('../image/company-strategy-ts-100593661-orig.webp');
$bg-imagec:url('../image/glass-trophy-acrylic-winner-award-realistic_107791-205.webp');
$bg-imaged:url('../image/20170603-days-years-calendar.webp');
$bg-imagef:url('../image/pexels-erick-mufasa-1350789.jpg');
$bg-imageg:url('../image/pexels-fauxels-3183150.jpg');

 